* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend', sans-serif;
    background: linear-gradient(125deg, #000000, #028585);
    display: flex;
    justify-content: center;  /* Centra el contenido horizontalmente */
    align-items: center;      /* Centra el contenido verticalmente */
    height: 100vh;            /* Asegura que ocupe toda la altura de la pantalla */
    margin: 0;
}
